
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300&family=Montserrat:wght@600&family=Raleway&display=swap');

#main-container{
    height: 500px;  
    width: 450px;
    overflow: auto;

}
#main-container::-webkit-scrollbar {
    width: 6px;}


.container{
    display: flex;
    
}
#main-container h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin: 0 140px;
    text-transform: uppercase;
    
}
#add-btn{
    width: 76px;
    height: 40px;   
    margin-left: 10px;
    cursor: pointer;
    margin-top: 0;
}
.todo-add{
   
    top: 0px;

}
.todo-add input{
    width: 75%;
    margin: 0 0 0 10px;
    padding-left: 20px;
}
.todo-add input::placeholder{
    padding: 15px;
}


@media (max-width: 426px) {
    #main-container{
        height: 430px;  
        width: 330px;
        overflow: auto;
    
    }
    #main-container::-webkit-scrollbar {
        width: 6px;}
    
    
    .container{
        display: flex;
        
    }
    #main-container h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
        margin: 0 30%;
        text-transform: uppercase;
        
    }
    #add-btn{
        width: 55px;
        font-size: 10px;
        height: 40px;   
        margin-left: 10px;
        cursor: pointer;
        margin-top: 0;
    }
    .todo-add{
       
        top: 0px;
    
    }
    .todo-add input{
        height: 55%;
        width: 75%;
        margin: 10px 0 0 10px;
        padding-left: 20px;
    }
    .todo-add input::placeholder{
        padding: 10px;
        font-size: 14px;}

    .todos-items{
        margin-top: 15px;
    
  }}

  @media (max-width: 376px) {
    #main-container{
        border: 2px solid red;
        height: 430px;  
        width: 300px;
        overflow: auto;
    
    }
    #main-container::-webkit-scrollbar {
        width: 6px;}
    
    
    .container{
        display: flex;
        
    }
    #main-container h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
        margin: 0 30%;
        text-transform: uppercase;
        
    }
    #add-btn{
        width: 52px;
        font-size: 10px;
        height: 35px;   
        margin-left: 10px;
        cursor: pointer;
        margin-top: 0;
    }
    .todo-add{
       
        top: 0px;
    
    }
    .todo-add input{
        height: 50%;
        width: 75%;
        margin: 10px 0 0 10px;
        padding-left: 20px;
    }
    .todo-add input::placeholder{
        padding: 10px;
        font-size: 14px;}

    .todos-items{
        margin-top: 15px;
    
  }}